/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
    background: linear-gradient(to right, white, rgb(254, 200, 104));
    background-attachment: fixed;
}

header {

}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.items-not-ranked{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.unranked-cell{
    width: 100px;
    text-align: center;
    margin: 5px;
}

.rankings{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rank-row {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    animation-name: fromLeftToPosition;
}

h4{
    font-family:'Agency FB';
    font-size:xx-large;
}

.rank-cell{
    width: 80px;
    height: 80px;
}

.unranked-cell img, .rank-cell img {
    width: 100%;
    height: 100%;
}

.top-tier {
    background: linear-gradient(to left, rgba(255,0,0,0), orange);
    animation-duration: 2s;
}
.neartop-tier {
    background: linear-gradient(to left, rgba(255,0,0,0), yellow);
    animation-duration: 3s;
}
.middle-tier {
    background: linear-gradient(to left, rgba(255,0,0,0), yellowgreen);
    animation-duration: 4s;
}
.bottom-tier {
    background: linear-gradient(to left, rgba(255,0,0,0), red);
    animation-duration: 5s;
}
.worst-tier {
    background: linear-gradient(to left, rgba(255,0,0,0), saddlebrown);
    animation-duration: 6s;
}

.reloadbtn {
    font-family: 'Agency FB';
    font-size: x-large;
    width: fit-content;
    height: fit-content;
    margin: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background: white;
    border-style: none;
    border-radius: 10px;
}

    .reloadbtn:hover {
        animation-name: btnHover;
        animation-duration: 1s;
        background-color: rgb(171, 194, 112);
    }
    .reloadbtn:active {
        box-shadow: 0px 0px 5px;
    }


img:hover {
    animation-name: boxShadow;
    animation-duration: 1s;
    box-shadow: 5px 5px;
}

/*KEYFRAMES*/
@keyframes btnHover {
    0% {
        background-color: white;
    }

    100% {
        background-color: rgb(171, 194, 112);
    }
}

@keyframes boxShadow{
    0% {
        box-shadow: 0px 0px;
    }

    100% {
        box-shadow: 5px 5px;
    }
}

@keyframes fromLeftToPosition {
    from {
        transform: translateX(calc(100vw - 100%));
    }

    to {
        transform: translateX(0);
    }
}
 /*KEYFRAMES*/